.ratings-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}

.ratings-modal-content {
  max-width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  box-shadow: 0 0 .2em .2em rgba(79, 79, 79, 0.5);

}

.ratings-modal-header, .ratings-modal-footer {
  padding: 10px;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid rgb(128, 128, 128, .5);
  /* border-top: 1px solid rgb(128, 128, 128, .5); */
  display: flex;
  justify-content: space-between;
}

.ratings-modal-footer {
  justify-content: flex-end;
}
.ratings-modal-title {

}

.ratings-modal-body {
  min-width: 90vw;
  min-height: 90vh;
  max-height: 90vh;
  max-width: 90vw;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.modal-button {
  background-color: white;
  border-color: 2px solid black;
  padding: .25em;
  height: 2em;
  width: 2em;
  border-radius: .5em;

  /* box-shadow: 0em 0em .2em .2em rgba(0, 0, 0, 0.5); */
}

.modal-button:hover {
  /* box-shadow: 0em 0em .2em .2em rgba(0, 0, 0); */
  color: white;
  background-color: black;
  cursor: pointer;
}

