.ratings-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratings-modal-content {
  max-width: 90%;
  background-color: rgb(255, 255, 255);
}

.ratings-modal-header, .ratings-modal-footer {
  padding: 10px;
}

.ratings-modal-title {

}

.ratings-modal-body {
  min-width: 50vw;
  min-height: 50vh;
  max-height: 90vh;
  max-width: 90vw;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}