.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 45%;
  background-color: rgb(255, 255, 255);
}

.modal-header, .modal-footer {
  padding: 10px;
  border: 1px solid black;
}

.modal-title {
  margin: 0;
}

.modal-body {
  max-height: 90vh;
  overflow-y: scroll;
  padding: 0;
  border: 1px solid black;
}