.overview-widget {
  display: flex;
  background-color: rgb(225, 65, 65);
}

.miniSlider {
  height: 12vh;
  justify-content: left;
}
.slider {
  height: 90vh;
  justify-content: center;
  display: flex;
}