.overview-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
  margin: auto;
}

.overview-styles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom:15px;
}

.o-image-gallery {
  display: flex;
  min-width: 300px;
  max-width: 900px;
}

.o-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 330px;
  padding-left: 11.9px;
}

.slider {
  display:flex;
  flex: 1, 1, 300px;
  padding-right: 16px;
}

.m-carousel {
  position: relative;
  flex: 1, 1;
}

.m-carousel-image {
  flex: 1, 1, 300px;
  object-fit: cover;
  width: 55vw;
  max-width: 800px;
  height: 78vh;
  max-height: 550px;
  min-height: 550px;
  border-radius: 5px;
}

.m-carousel img {
  display: block;
}

.m-carousel .o-title-review-container {
  position: relative;
  top: 1px
}

.m-carousel .s-leftarrow {
  font-size: 30px;
  position: absolute;
  top: 46.5%;
  color: rgb(146, 146, 146);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: rgb(255, 255, 255);
  opacity: .8;
}

.m-carousel .s-rightarrow {
  font-size: 30px;
  position: absolute;
  top: 46.5%;
  right: 0;
  color: rgb(146, 146, 146);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgb(255, 255, 255);
  opacity: .8;
}

.m-carousel .s-expand {
  color: white;
  font-size: 23px;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: .75;
}

.m-carousel .m-logo {
  position: absolute;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  min-width: 1vw;
  max-width: 4vw;
  min-height: 4vh;
  max-height: 60px;
  top: 30px;
  left: 37px;
}

.s-leftarrow:hover, .s-rightarrow:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(146, 146, 146);
  opacity: 1;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.s-expand:hover {
  cursor: pointer;
  color: white;
  opacity: 1;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.slide {
  display: flex;
  flex: 1, 1;
}

.miniSlider {
  display: flex;
  flex-direction: column;
  flex: 1, 1;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 10px 25px 10px;
}

.ms-image {
  object-fit: cover;
  width: 35px;
  height: 35px;
  border-radius: 7px;
}

.ms-image:hover {
  cursor: pointer;
}

.ms-image-selected {
  object-fit: cover;
  width: 75px;
  height: 75px;
  border-radius: 7px;
}

.ms-arrowup {
  position: relative;
  font-size: 30px;
  opacity: .4;
}

.ms-arrowdown {
  position: relative;
  font-size: 30px;
  opacity: .4;
}

.ms-arrowup:hover, .ms-arrowdown:hover{
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.styleselector {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: max-content;
}

.ss-name {
  display: flex;
  align-self: flex-start;
  font-size: 25px;
  line-height: 38px;
  font-family: "AdihausDIN Cn",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: 500;
  margin: 2px 5px 5px 5px;
}
.ss-s-name {
  align-self: flex-start;
  font-size: 14px;
  line-height: 38px;
  font-family: "AdihausDIN Cn",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: 500;
  margin: 2px 5px 5px 5px;
}

.s-thumbnail {
  display: flex;
  flex-flow: row wrap;
  width: 325px;
  align-content: space-between;
  justify-content: start;
  padding: 5px;
}

.s-thumbnail-image {
  object-fit: cover;
  border-radius: 4px;
  width: 61px;
  height: 61px;
  margin: 2px ;
}

.s-unselected:hover {
  cursor: pointer;
  object-fit: cover;
  width: 47px;
  height: 47px;
  border-style: double;
  border-width: 7px;
  border-color: rgba(0, 0, 0, 0.747);
  -webkit-transition: all 50ms ease;
  -moz-transition: all 50ms ease;
  -ms-transition: all 50ms ease;
  -o-transition: all 50ms ease;
  transition: all 50ms ease;
}

.selected-thumbnail {
  object-fit: cover;
  width: 46.2px;
  height: 46.2px;
  border-style: double;
  border-width: 7px;
  border-color: black;
}

.ss-price {
  position: relative;
  align-self: flex-start;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  top: 5px;
  padding: 0px 0px 5px 7px;
}

.s-addtocart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: max-content;
  max-height: 350px;
}

.s-add-button:disabled {
  color: white;
  background-color: rgba(216, 77, 77, 0.809);
  border-radius: 2px;
  width: 212px;
  height: 50px;
  margin: 5px 0px 10px 7px;
}
.s-add-button:enabled {
  color: white;
  background-color: red;
  border-radius:3px;
  width: 212px;
  height: 50px;
  margin: 5px 0px 10px 6px;
}

.ss-size-title {
  font-family: "AdihausDIN Cn",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 38px;
  position: relative;
  font-size: 25px;
  width: 335px;
  bottom: 3px;
}
.ss-allsizes {
  display: flex;
  flex-flow: row wrap;
  width: 325px;
  justify-content: start;
  padding: 5px;
}

.sizebuttons {
  width: 104.1px;
  height: 35px;
  padding-right: 6px;
  margin: 2px;
  border-width: .01px;
  border-radius: 3px;
  border-color: lightgray;
  border-style: solid;
  background-color: white;
}

.sizebuttons:hover, .sizebuttons-picked {
  color: aliceblue;
  width: 104.1px;
  height: 35px;
  padding-right: 6px;
  margin: 2px;
  border-width: .01px;
  border-radius: 3px;
  border-color: lightgray;
  background-color: rgb(0, 0, 0);
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}


.sizebuttons:hover, .s-add-button:enabled, .view-bag, .keep-shopping{
  cursor: pointer ;
}

#twitter:hover, #facebook:hover, #pinterest:hover {
  cursor: pointer !important;
  background-color: black !important;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.sizebuttons-picked:hover {
  cursor: default;
}

.quantity-selector {
  text-align: center;
  width: 318px;
  height: 35px;
  margin: 10px 0px 0px 2px;
  border-color: lightgray;
  border-radius: 2px;
}

.share-icons {
  display: flex;
  width: 325px;
  justify-content: start;
  padding: 5px;
}

#facebook, #twitter, #pinterest {
  width: 104.1px ;
  height: 35px;
  padding-right: 6px !important;
  margin: 2px;
  border: 1px solid lightgray !important;
  border-radius: 3px;
  background-color: white !important;
}

#facebook {
  color: rgb(55, 111, 255) !important;
}
#twitter {
  color: rgb(183, 203, 255) !important;
}
#pinterest {
  color: rgb(255, 48, 48) !important;
}

.o-details {
  display: flex;
  flex-flow: column wrap;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}

.o-title-review-container {
  display: flex;
  width: 55vw;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  height: 40px;
}

.o-name-category {
  display: flex;
  position: relative;
}

.title-line {
  align-self: center;
  object-fit: cover;
  width: 1.9vh;
}

.pi-name {
  font-size: 2.07vw;
}

.pi-category {
  font-size: 1vw;
  align-self: center;
}

.pi-reviews {
  font-size: .9vw;
  align-self: center;
}

.pi-reviews:hover {
  text-decoration: none;
  border-bottom: 1px solid rgb(0, 106, 255);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .pi-name{
    font-size: 31px;
  }
  .title-line {
    width: 27px;
  }
  .pi-category {
    font-size: 13px;
  }
  .pi-reviews {
    font-size: 13px;
  }
}

.pi-reviewstars {
  display: flex;
  align-self: center;
}

.o-description-icon-container {
  display: inline-flex;
  width: 100%;
}

.o-description-icon-container-open {
  display: flex;
  width: 100%;
  border-left: 5px solid black;
}

.pi-description {
  font-family: Helvetica,Arial,system-ui,sans-serif;
  font-weight: 500;
  display: flex;
  font-size: 25px;
  margin: 15px 20px 15px 20px;
}


.o-name-container {
  display: flex;
  position: relative;
}

.o-name-container .title-line {
  position: absolute;
}

.pi-stars {
  padding-right: .5vw;
  justify-content: center;
}

.pi-minus, .pi-plus {
  align-self: flex-end;
  opacity: .5;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-bottom: 15px;
}

.pi-minus:hover, .pi-plus:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.i-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0 , .7);
  z-index: 1000;
}

.i-modal-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 2.5px;
  border-radius: 5px;
  z-index: 1000;
}

.i-modal-image {
  object-fit: cover;
  width: 90vw;
  max-width: 1200px;
  height: 90vw;
  max-height: 600px;
  display: block;
  border-radius: 5px;
}

.i-image-container {
  position: relative;
}

.i-image-container img {
  display: flex;
}


.i-image-container .i-left-arrow {
  font-size: 30px;
  position: absolute;
  top: 46.5%;
  color: rgb(146, 146, 146);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: rgb(255, 255, 255);
  opacity: .8;
  z-index: 2000;
}

.i-image-container .i-right-arrow {
  font-size: 30px;
  position: absolute;
  top: 46.5%;
  right: 0;
  color: rgb(146, 146, 146);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgb(255, 255, 255);
  opacity: .8;
}
.i-image-container .i-minimize {
  color: white;
  font-size: 23px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2000;
  opacity: .75;
}

.i-image-container .i-expanded-icons {
  position: absolute;
  justify-content: center;
  bottom: 20px;
  z-index: 2000;
}

.i-left-arrow:hover, .i-right-arrow:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(146, 146, 146);
  opacity: 1;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.i-minimize:hover:hover {
  cursor: pointer;
  color: white;
  opacity: 1;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.o-description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 59px;
  border-right: 5px solid black;
}

.i-expanded-icons {
  position: relative;
  display: flex;
  width: 100vw;
  max-width: 1200px;
}

.d-slogan {
  display: flex;
  align-self: flex-start;
  align-content: center;
  white-space: nowrap;
  margin-right: 50px;
  font-style: italic;
}

.d-description {
  align-self: center;
  width: 400px;
  font-size: 13px;
}

.d-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.d-line {
  object-fit: cover;
  width: 50px;

}

.i-filler {
  font-size: 20px;
  color: white;
  opacity: .6;
}

.i-filler:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.i-chosen{
  font-size: 20px;
  color: rgb(0, 0, 0)
}

.add-love-buttons {
  display: flex;
}

.lovey-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  background-color: rgb(40, 44, 52);
  border-radius: 3px;
  border-width: .2px;
  width: 103px;
  height: 50px;
  margin: 5px 0px 5px 4px;
}

.lovey-button:hover {
  cursor: pointer;
}

.react-button {
  color: #61dafb;
}
.octo-button {
  width: 37.2px;
  color: #61dafb;
}

.c-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0 , .7);
  z-index: 900;
  overflow: -moz-hidden-unscrollable;
}

.c-modal-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 0px 16px 16px 16px;
  width: 712px;
  border-radius: 5px;
  z-index: 1000;
  overflow:-moz-hidden-unscrollable;
}

.c-title-container {
  display: flex;
}

.cart-title {
  display: flex;
  justify-content: start;
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  padding: 10px 0px 10px;
}

.cart-line {
  border-bottom: 2px solid lightgray;
    width: 47%;
    margin-left: 41px;
    margin-bottom: 3%;
}

.cart-image {
  object-fit: cover;
  align-content: center;
  width: 250px;
  height: 250px;
  border-radius: 3px;
}

.cart-container {
  display: flex;
  justify-content: center;
  height: 250px;
}

.cart-product {
  display: flex;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 10px;
}

.cart-side {
  align-content: center;
  border-left: 2px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.cart-exits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.keep-shopping {
  align-self: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-width: 1px;
  border-color: lightgrey;
  border-radius:3px;
  width: 80%;
  height: 50px;
  margin: 5px 0px 10px 16px;
}

.view-bag {
  align-self: center;
  color: white;
  background-color: red;
  border-width: 1px;
  border-radius:3px;
  width: 80%;
  height: 50px;
  margin: 5px 0px 10px 16px;
}

.cart-props {
  max-width: 151px;
  margin-left: 22.25px
;
}

.cart-name {
  font-size: 25px;
  margin: 7px 0px 7px 0px;
}

.side-props {
  border-bottom: 2px solid lightgrey;
  width: 80%;
  margin-left: 32px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  width: 79%;
  margin-left: 32px;
}

.quant-container {
  display: flex;
  justify-content: space-between;
  width: 79%;
  margin-left: 32px;
}

.c-total-price, .c-total-description {
  display: flex;
  align-self: flex-start;
}

.product-container {
  width: 65%;
  overflow: auto;
}

.cart-style {
  display: flex;
  font-size: 14px;
  color: #757474;
  line-height: 2px;
  font-style: italic;
}

.cart-price {
  font-style: italic;
  font-weight: 600;
}

.c-del-item {
  display: flex;
  align-self: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid;
  border-color: lightgrey;
  border-radius: 4px;
  width: 100%;
  height: 22px;
  padding: 10px 1px 10px 1px;
  margin-top: -6px;
}

.c-del-item:hover, .keep-shopping:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}