@media screen and (min-width: 1450px) {

.widgets {
  width: 90vw;
  max-width: 1300px;
  margin: auto;
}

.related, .outfits {
  width: 1300px;
  position: relative;
  margin: auto;
}

.title {
  font-family: Helvetica,Arial,system-ui,sans-serif;
  font-weight: 500;
  display: flex;
  font-size: 25px;
  margin: 15px 0px 15px 20px;
  display:inline-block
}

.title-div {
  font-family: Helvetica,Arial,system-ui,sans-serif;
  font-weight: 500;
  display: flex;
  font-size: 25px;
  /* border-top: 2px solid lightgrey; */
  white-space: nowrap;
  width: 100%;
}

.related .carousel {
  /* display: flex; */
  display: block;
  position: relative;
  width: 1241.89px;
  height: 400px;
  margin: 0 auto;
  padding-left: 25px;
}
.related .carousel-inner {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 400px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 1.5vh;
  padding-right: 15px;
}

.related .carousel .carousel-next, .carousel-prev, .outfit-next, .outfit-prev {
  /* position: absolute; */
  filter: invert(52%) sepia(3%) saturate(15%) hue-rotate(325deg) brightness(88%) contrast(92%);
  cursor: pointer;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
}

.carousel-next-container:hover .carousel-next, .carousel-next-container.hover .carousel-next {
  filter: invert(100%) sepia(71%) saturate(32%) hue-rotate(218deg) brightness(116%) contrast(91%);
}

.carousel-prev-container:hover .carousel-prev, .carousel-prev-container.hover .carousel-prev {
  filter: invert(100%) sepia(71%) saturate(32%) hue-rotate(218deg) brightness(116%) contrast(91%);
}

.btn-container:hover .close-btn, .btn-container.hover .close-btn {
  filter: invert(100%) sepia(71%) saturate(32%) hue-rotate(218deg) brightness(116%) contrast(91%);
}


.carousel-next-container.hidden,.carousel-prev-container.hidden,.outfit-next-container.hidden,.outfit-prev-container.hidden {
  display: none;
}

.related .carousel .carousel-next-container, .outfit-next-container {
  height: 2rem;
  width: 2rem;
  z-index: 5;
  position: absolute;
  right: 25px;
  top: 160px;
  transform: translateY(-50%);
  background: #fff;
  cursor: pointer;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}


.related .carousel .carousel-prev-container, .outfit-prev-container {
  height: 2rem;
  width: 2rem;
  z-index: 5;
  position: absolute;
  left: 25px;
  top: 160px;
  transform: translateY(-50%);
  background: #fff;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.related .carousel .carousel-next-container:hover, .outfit-next-container:hover, .remove-outfit:hover {
  background:#6a6a6a;
}

.related .carousel .carousel-prev-container:hover, .outfit-prev-container:hover {
  background:#6a6a6a;
}

.related .carousel .slide .product-card {
  position: relative;
  border: 1px solid #e7e7e7;
  width: 260px;
  padding: 4px;
  display: inline;
  border-radius: .25em;
  margin: auto;
}

.related .carousel .slide .product-card p{
  text-align: left;
}

.related .carousel .slide {
  display: flex;
  position: absolute;
  /* width: 25%; */
  transition: all .3s linear;
}

.related .carousel .slide.related-pleft, .slide.outfit-pleft {
  left: -316px;
}

.related .carousel .slide.related-p1, .slide.outfit-p1 {
  left: 0%;
}

.related .carousel .slide.related-p2, .slide.outfit-p2 {
  left: 316px;
}

.related .carousel .slide.related-p3, .slide.outfit-p3 {
  left: 632px;
}

.related .carousel .slide.related-p4, .slide.outfit-p4 {
  left: 948px;
}

.related .carousel .slide.related-pright, .slide.outfit-pright {
  left: 1264px;
}

.related .carousel .thumb {
position: relative;
margin: 0 auto;
width: 260px;
height: 260px;
object-fit: cover;
cursor: pointer;
border-radius: .25em;
}


.related .carousel .thumb.outfit{
  cursor: auto;
}

.related .carousel .description {
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.description-outfits {
  border: none;
  background-color: inherit;
  text-align: left;
  font-size: 20px;
}

.related .star {
  position: absolute;
  top: 6px;
  right: 15px;
  cursor: pointer;
  color: white;
}

.related .star:before {
  content: "\2605";
  z-index: 10;
  font-size: 28px;
}

.related .star:hover {
  color: rgb(219, 49, 43);
}

.stars {
  position: relative;
  float: left;
  }

  .stars:before {
    content: "\2606\2606\2606\2606\2606";
    z-index: 1;
    float: left;
  }

  .stars .filled-stars {
  position: absolute;
  z-index: -1;
  float: left;
  overflow: hidden;
  width: 50%;
  }

  .stars .filled-stars:after {
    content: "\2605\2605\2605\2605\2605";
    color: rgb(255,200,0);
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(60,60,60, .5);
    z-index: 8;
    margin: auto;
  }

  .modal .modal-background {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    /* background: transparent; */
  }

  .modal .modal-content {
    width: 30%;
    height: 30%;
    border: 2px solid #767676;
    text-align: center;
    z-index: 10;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: scroll;
  border-radius: .25em;
  padding: 1em;
  border-spacing: 0;
  }

  .modal.hidden {
    display: none;
  }

  .modal .thumb {
    position: relative;
margin: 0 auto;
width: 17.5vw;
background-color: white;
height: 17.5vw;
object-fit: cover;
  }

.thumb-container {
    height: 17.5vw;
    width: 17.5vw;
}
  .preview {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(60,60,60, .5);
    z-index: 8;
    margin: auto;
  }

  .preview .preview-background {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    background: transparent;
  }


  .preview .preview-content {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
  }

  .preview.hidden {
    display: none;
  }

  .center-vert-horz {
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }
  .close-btn {
    z-index: 5;
    cursor: pointer;
    height: .875rem;
    width: .875rem;
    padding: .3rem;
    filter: invert(52%) sepia(3%) saturate(15%) hue-rotate(325deg) brightness(88%) contrast(92%);
  }

  .card-outline {
    border: dashed 1px #767676;
    border-radius: .25em;
  }


  .add-outfit-prev:hover {
    opacity: 1;
  }

  .add-btn {
    margin-top: 30px;
    height: 260px;
    width: 260px;
    filter: invert(52%) sepia(3%) saturate(15%) hue-rotate(325deg) brightness(88%) contrast(92%);
    background: transparent;
  }


  .add-card {
    text-align: center;
    height: 338px;
    border-radius: .25em;
    width: 268px;
    position: relative;
margin: 0 auto;
object-fit: cover;
border-radius: .25em;
background: whitesmoke;
  }

.add-btn-desc {
  background: transparent;
  filter: invert(52%) sepia(3%) saturate(15%) hue-rotate(325deg) brightness(88%) contrast(92%);
  text-align: center;
  font-size: 20px;
}
  .btn-container {
    width: 28px;
    height: 28px;
    border: solid 1px #767676;
  }

  .remove-outfit {
    position: absolute;
    top: -2%;
    right: -2%;
    cursor: pointer;
    background: white;
    font-size: 20px;
  }

  .remove-outfit {
    z-index: 5;
  }

  .remove-outfit-prev:hover {
    opacity: 1;
  }

.stars {
  position: relative;
  float: left;
  }

  .stars:before {
    content: "\2606\2606\2606\2606\2606";
    z-index: 1;
    float: left;
  }

  .stars .filled-stars {
  position: absolute;
  z-index: -1;
  float: left;
  overflow: hidden;
  width: 50%;
  }

.star-rating {
    display: inline-block;
  }

  .stars .filled-stars:after {
    content: "\2605\2605\2605\2605\2605";
    color: rgb(255,200,0);
  }

table {
  background-color: white;
  overflow: scroll;
  width: 100%;
}

td {
  text-align: center;
  padding-top: 7px;
    padding-right: 14px;
    padding-bottom: 7px;
    padding-left: 14px;
}

.table-header {
  text-align: center;
  font-weight: bold;
}

.table-logo {
  width: 100%;
  font-weight: bold;
  margin: 0;
  color: rgba(216, 77, 77, 0.809);
}

.nav-bar {
  width: 100%;
  height: 73px;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #dadada;
  z-index: 7;
}

.nav-container {
display: flex;
width: 100%;
height: 100%;
position: relative;
font-size: .6875rem;
}

.nav-bar .nav-container .left-nav {
display: flex;
max-height: 100%;
}

.logo {
  object-fit: cover;
  cursor: pointer;
}

.nav-bar .nav-container .right-nav {
  position: relative;
  margin-left: auto;
  display: flex;
  max-height: 100%;
  }

.search-btn {
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
margin-right: 20px;
}

.main-product-img {
  max-width: auto;
  max-height: 100%;
}

.table-top-row {
  display: flex;
  justify-content: space-evenly;
}

.table-header {
  width: 100%;
}

.table-current-product-column, .table-compare-product-column, .table-characteristic {
  color: #767676;
}

.table-header {
  color: black;
}

.table-characteristic {
  border-left: solid 1px #767676;
  border-right: solid 1px #767676;
}
.table-title {
  width: 100%;
  font-size: 1rem;
}

.table-logo {
  width: 100%;
  font-weight: bold;
  margin: 0;
  color: rgba(216, 77, 77, 0.809);
}

tr:nth-child(even) {
  background-color: #f3f3f3;
}

.modal-content.table {
  color: #767676;
  font-size: 1rem;
}
tr:nth-child(odd) {
  background-color: white;
}


.table-characteristic {
  border-left: solid 1px #767676;
  border-right: solid 1px #767676;
}
.table-title {
  width: 100%;
  font-size: 1rem;
}

.card-category {
  margin: 0;
  /* font-size: .875vw; */
  /* font-size: 1.3125vw; */
  font-size: 16px;
  color: #767676;
  /* color: black;
  font-size: 1vw;
  align-self: center; */
}

.card-name {
  font-size: 18px;
  display: inline-block;
  height: auto;
  word-wrap: break-word;
}


.card-price {
  margin: 0;
  color: #000;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: .0375px;
  align-self: self-end;
  padding-top: .35rem;
}

.add-btn-desc-container {
  width: 80%;
  margin: auto;
}

.plus-logo {
  position: absolute;
  font-size: 2rem;
}

.card-name-div {
  display: flex;
}

.vertical-line {
  align-self: center;
  object-fit: cover;
  width: 1.9vh;
  height: 20px;
}

.vertical-line-2 {
  font-size: 22px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.title-lines {
width: 100%;
height: 50%;
padding-left: 40px;
border-bottom: 2px solid lightgrey;
margin-left: 2vw;
margin-right: 2vw;
margin-top: 0;
margin-bottom: 0;
padding-bottom: 29.5px;
}

.outfit-card {
  position: relative;
  width: 264px;
  display: inline;
  border-radius: .25em;
  margin: auto;
  height: 330px;
  cursor: pointer;
}

.add-btn-plus {
  background: transparent;
  filter: invert(52%) sepia(3%) saturate(15%) hue-rotate(325deg) brightness(88%) contrast(92%);
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}
}