p, b, div, h1, h2 {
  font-family: Helvetica,Arial,system-ui,sans-serif;
  font-weight: 400;
}

.app {
  position: relative;
}
.related, .outfits {
  width: 100%;
  position: relative;
  margin: auto;
}

.related .title {
  font-size: 20px;
}

.related .carousel {
  display: flex;
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 400px;
}
.related .carousel-inner {
  display: flex;
  width: 100%;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;
}

.related .carousel .carousel-next, .carousel .carousel-prev {
  position: absolute;
  font-size: 20px;
  z-index: 5;
  padding: 16px;
  color: grey;
  background: white;
  opacity: .6;
  cursor: pointer;
  text-align: center;
}

.related .carousel .carousel-next:hover, .carousel .carousel-prev:hover {
  opacity: 1;
}

.related .carousel .carousel-next {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.related .carousel .carousel-prev {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.related .carousel .slide .product-card {
  position: relative;
  border: 1px solid grey;
  max-width: 100%;
  margin: 4px;
  padding: 4px;
  height: 350px;
  display: inline;
}

.related .carousel .slide .product-card h1 {
  display: flex;
  align-items: left;
  justify-content: left;
  text-align: left;
  font-size: 24px;
  height: 15%;
}

.related .carousel .slide .product-card p{
  text-align: left;
  font-size: 16px;
  height: 5%;
}

.related .carousel .slide {
  display: flex;
  position: absolute;
  width: 25%;
  transition: all .3s linear;
}

.related .carousel .slide.related-pleft {
  left: -25%;
}

.related .carousel .slide.related-p1 {
  left: 0%;
}

.related .carousel .slide.related-p2 {
  left: 25%;
}

.related .carousel .slide.related-p3 {
  left: 50%;
}

.related .carousel .slide.related-p4 {
  left: 75%;
}

.related .carousel .slide.related-pright {
  left: 100%;
}

.related .carousel .slide.outfit-pleft {
  left: -25%;
}

.related .carousel .slide.outfit-p1 {
  left: 0%;
}

.related .carousel .slide.outfit-p2 {
  left: 25%;
}

.related .carousel .slide.outfit-p3 {
  left: 50%;
}

.related .carousel .slide.outfit-p4 {
  left: 75%;
}

.related .carousel .slide.outfit-pright {
  left: 100%;
}




.related .carousel .thumb {
/* stretched */
/* position: relative;
width: 200px;
height: 200px;
cursor: pointer;
min-width: 100px;
background: center; */

position: relative;
margin: 0 auto;
width: 200px;
background-color: white;
height: 200px;
object-fit: cover;
cursor: pointer;
}

.related .carousel .thumb.outfit{
  cursor: auto;
}

.related .carousel .description {
  border: none;
  background-color: inherit;
  cursor: pointer;
  text-align: left;
  font-size: 15;
}


.related .star {
  position: absolute;
  top: 2%;
  right: 8%;
  cursor: pointer;
  color: white;
}
  .related .star:before {
    content: "\2605";
    z-index: 10;
  }

  .related .star:hover {
    color: rgb(219, 49, 43);
  }

.stars {
  position: relative;
  float: left;
  }

  .stars:before {
    content: "\2606\2606\2606\2606\2606";
    z-index: 1;
    float: left;
  }

  .stars .filled-stars {
  position: absolute;
  z-index: -1;
  float: left;
  overflow: hidden;
  width: 50%;
  }

  .stars .filled-stars:after {
    content: "\2605\2605\2605\2605\2605";
    color: rgb(255,200,0);
  }

  .modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    z-index: 20;
    margin: auto;
  }

  .modal .modal-background {
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    margin: auto;
  }

  .modal .modal-content {
    width: 30%;
    background-color: white;
    height: 30%;
    border: 2px solid black;
    text-align: center;
    margin: auto;

  }

  .modal.hidden {
    display: none;
  }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    z-index: 20;
    margin: auto;
  }

  .preview-background {
    width: 100%;
    height: 100%;
    /* background: rgba(60,60,60, .5); */
    background: transparent;
    text-align: center;
  }

  .preview-content {
    margin: 0 auto;
    max-width: auto;
    max-height: 100%;
    background-color: white;
    object-fit: cover;
    border: 2px solid black;
  }

  .preview.hidden {
    display: none;
  }


  .add-outfit {
    position: absolute;
    font-size: 20px;
    z-index: 10;
    padding: 16px;
    color: grey;
    background: white;
    opacity: .6;
    cursor: pointer;
    text-align: center;
  }

  .add-outfit-prev:hover {
    opacity: 1;
  }

  .remove-outfit {
    position: absolute;
    top: 2%;
    right: 8%;
    cursor: pointer;
    color: black;
    font-size: 20px;
  }

  .remove-outfit-prev:hover {
    opacity: 1;
  }
  .remove-outfit:before {
    content: "\2297";
    z-index: 10;
  }

.stars {
  position: relative;
  float: left;
  }

  .stars:before {
    content: "\2606\2606\2606\2606\2606";
    z-index: 1;
    float: left;
  }

  .stars .filled-stars {
  position: absolute;
  z-index: -1;
  float: left;
  overflow: hidden;
  width: 50%;
  }

.star-rating {
    display: inline-block;
  }

  .stars .filled-stars:after {
    content: "\2605\2605\2605\2605\2605";
    color: rgb(255,200,0);
  }

  p {
    color: rgb(0, 0, 0);
  }

  h1 {
    font-weight: 400;
    color: rgb(0, 0, 0);
  }

  .meter {
    height: 10px;
    position: relative;
    background: rgb(136, 135, 135);
    border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }

  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgb(69, 244, 0);
    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
  }

  .RatingWidget {
    display: flex;
  }

  .ReviewHeader {
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
    padding-right: 2px;
  }

  .ReviewContainer-scrollable {
    overflow-x: hidden;
    max-height: 95vh;
    padding-right: 1px;
  }

  .indicator {
    height: 15px;
    position: relative;
    background: blue;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }

  .indicator > span {
    position: relative;
    display: inline-flex;
    height: 100%;
    /* width: 2px; */
    background-color: black;
  }

  .ReviewsList-Header {
    display: flex;
    justify-content: space-between;
  }

  #review-btn{
    display: flex;
    justify-content: center;
    height: 1.5em;
    width: 20%;
  }

  .ReviewListFooter {
    display: flex;
    justify-content: space-between;
  }

  #reviewForm {
    background-color: grey;
    margin: 100px auto;
    /* padding: 40px; */
    width: 70%;
    min-width: 300px;
    border: 1px solid grey;
  }

  .star input {
    padding: 5px;
    width: 100%;
    border: 1px solid #aaaaaa;
  }

  input.invalid {
    background-color: #ffdddd;
  }

  #star-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .on {
    color: rgb(255, 247, 0);
  }
  .off {
    color: #ccc;
  }

  .New-Review-Summary {
    width: 75%;
    height: 40px;
  }

  .ReviewTile {
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.miniSlider {
  height: 12vh;
  justify-content: left;
  display: flex;
}

table {
  border: 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: beige;
}

.nav-bar {
  width: 100%;
  height: 73px;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #dadada;
  z-index: 7;
}

.nav-container {
display: flex;
width: 100%;
height: 100%;
position: relative;
font-size: .6875rem;
}

.nav-bar .nav-container .left-nav {
display: flex;
max-height: 100%;
}

.logo {
  object-fit: cover;
}

.nav-bar .nav-container .right-nav {
  position: relative;
  margin-left: auto;
  display: flex;
  max-height: 100%;
  }

.search-btn {
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
margin-right: 20px;
}

.main-product-img {
  max-width: auto;
  max-height: 100%;
}


